### project setting
DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8000

### database
POSTGRES_DB=nft
POSTGRES_USER=nft
POSTGRES_PASSWORD=nft
POSTGRES_HOST=db
POSTGRES_PORT=5432

# WebSockets
USE_WS=True
DOCKER_WS_EXPOSE_PORT=8001
